{% set _meta_options = asset_meta_bootstrap.options if asset_meta_bootstrap and asset_meta_bootstrap.options else {} %}
{% set _client_options = _meta_options.clients if _meta_options.clients else ['-'] %}
{% set _project_options = _meta_options.projects if _meta_options.projects else ['-'] %}
{% set _shot_options = _meta_options.shots if _meta_options.shots else ['-'] %}
{% set _filename_options = _meta_options.filenames if _meta_options.filenames else [] %}
<div class="project-meta-bar" id="projectMetaBar">
  <span class="project-meta-group-label">Scope</span>
  <label class="project-meta-field">
    <span class="project-meta-label">Client</span>
    <input class="project-meta-input" id="projectMetaClient" autocomplete="off" placeholder="Client" aria-label="Client" />
  </label>
  <label class="project-meta-field">
    <span class="project-meta-label">Project</span>
    <input class="project-meta-input" id="projectMetaProject" autocomplete="off" placeholder="Project" aria-label="Project" />
  </label>
  <label class="project-meta-field">
    <span class="project-meta-label">Shot</span>
    <input class="project-meta-input" id="projectMetaShot" autocomplete="off" placeholder="Shot" aria-label="Shot" />
  </label>
  <label class="project-meta-field">
    <span class="project-meta-label">Filename</span>
    <input class="project-meta-input" id="projectMetaFilename" autocomplete="off" placeholder="Filename" aria-label="Filename" />
  </label>
  <datalist id="projectMetaClients">
    {% for value in _client_options %}
    <option value="{{ value }}"></option>
    {% endfor %}
  </datalist>
  <datalist id="projectMetaProjects">
    {% for value in _project_options %}
    <option value="{{ value }}"></option>
    {% endfor %}
  </datalist>
  <datalist id="projectMetaShots">
    {% for value in _shot_options %}
    <option value="{{ value }}"></option>
    {% endfor %}
  </datalist>
  <datalist id="projectMetaFilenames">
    {% for value in _filename_options %}
    <option value="{{ value }}"></option>
    {% endfor %}
  </datalist>
</div>
